#aboutus .first-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}
#aboutus .first-block .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutus .first-block .left .half-quote {
  margin: 3rem 0;
}
#aboutus .first-block .left .double-pill {
  margin: 2rem -4rem 4rem;
}
#aboutus .text-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem clamp(0rem, -1.3636rem + 6.8182vw, 3rem);
}
#aboutus .text-block-container .title-header {
  margin: 2rem 0;
  width: 100%;
  display: grid;
  place-items: center;
}
#aboutus .text-block-container .title-header .h1 {
  font-size: 2rem;
  font-weight: 300;
  padding: 0.5rem 2rem;
  border-left: 3px solid var(--clr-primary);
  color: #3B0D02;
}
#aboutus .text-block-container .text-block {
  display: flex;
  flex-direction: column;
  width: clamp(16rem, 14.1818rem + 9.0909vw, 20rem);
  margin: clamp(0rem, -0.4545rem + 2.2727vw, 1rem);
}
#aboutus .text-block-container .text-block p {
  margin: 1.125rem 0;
  text-align: center;
  font-weight: 300;
  font-size: var(--fs-universal);
}
#aboutus .text-block-container .text-block .btn-ctn {
  align-self: center;
  margin: 3rem 0;
}
@media screen and (min-width: 1024px) {
  #aboutus .text-block-container {
    margin: clamp(2rem, -12.7692rem + 23.0769vw, 8rem) 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0 clamp(1rem, 1rem + 0vw, 1rem);
    place-items: flex-start;
  }
  #aboutus .text-block-container .title-header {
    grid-column: 1/2;
    grid-row: 1/1;
    place-self: flex-end;
    margin: 2rem 0;
  }
  #aboutus .text-block-container .title-header .h1 {
    font-size: clamp(1.25rem, 0.6346rem + 0.9615vw, 1.5rem);
    font-weight: 400;
  }
  #aboutus .text-block-container .text-block {
    display: flex;
    flex-direction: column;
    width: clamp(16rem, 6.1538rem + 15.3846vw, 20rem);
  }
  #aboutus .text-block-container .text-block.tb-left {
    grid-column: 1/1;
    grid-row: 2/3;
  }
  #aboutus .text-block-container .text-block.tb-right {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #aboutus .text-block-container .text-block p {
    font-size: var(--fs-universal);
    margin: 1rem 0;
    text-align: left;
    font-weight: 300;
  }
  #aboutus .text-block-container .text-block .btn-ctn {
    align-self: flex-start;
    margin: 3rem 0;
  }
}
#aboutus .second-block {
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 clamp(0rem, -0.1136rem + 0.5682vw, 0.25rem);
}
#aboutus .second-block .header-block {
  color: var(--clr-primary);
  font-size: 2rem;
  margin: 0 clamp(0rem, -0.9091rem + 4.5455vw, 2rem) 2rem;
  padding: 0 2rem;
  white-space: nowrap;
  font-weight: 700;
}
#aboutus .second-block .statement-ctn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
#aboutus .second-block .statement-ctn .statement-block {
  width: clamp(18rem, 15.9545rem + 10.2273vw, 22.5rem);
  margin: 2rem clamp(0rem, -0.9091rem + 4.5455vw, 2rem);
  padding: 3rem 1.5rem;
  border: 1px solid #FAFAFA;
  border-radius: 1rem;
  box-shadow: 0 10px 15px lightgrey;
  display: flex;
  flex-direction: column;
}
#aboutus .second-block .statement-ctn .statement-block .div-header {
  margin: 2rem 0 1rem;
  align-self: center;
}
#aboutus .second-block .statement-ctn .statement-block .div-header .line {
  width: 12.5rem;
}
#aboutus .second-block .statement-ctn .statement-block .text-block p {
  text-align: center;
  margin: 1rem 0;
  font-weight: 400;
  font-size: var(--fs-universal);
}
#aboutus .second-block .statement-ctn .statement-block .text-block p.header-p {
  color: #000;
  font-weight: 700;
  font-size: 1.125rem;
  font-style: italic;
}
#aboutus .second-block .statement-ctn .statement-block .text-block p span {
  font-style: italic;
  font-weight: 600;
}
#aboutus .third-block .left .top-block {
  margin: 1rem 0;
  margin-left: 3rem;
}
#aboutus .third-block .left .top-block .h1 {
  font-size: 1.5rem;
  font-weight: 700;
}/*# sourceMappingURL=aboutus.css.map */